:root {
  --background-header-footer: linear-gradient(to right, #343333, #484848, #282828);
  --font: 'Roboto', sans-serif;
  --list-item-font: 400 20px/19px 'Roboto', sans-serif;
  --h3-font: 400 20px/18px 'Roboto', sans-serif;
  --ul-letter-spacing: 3px;
}

html {
  scroll-behavior: smooth;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header {
  background: var(--background-header-footer);
  margin: 0 auto;
  width: 100%;
  height: 110px;
  display: flex;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 1150px;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 290px;
  height: 50px;
  margin-top: 5px; 
}

.navLink {
  text-decoration: none;
  width: 75px;
  height: 30px;
  font: 400 23px 'Roboto', sans-serif;
  color: #FFFDFA;
  display: inline-block;
  margin-top: 20px;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font: 700 60px 'Roboto', sans-serif;  
  width: 100%;
  max-width: 765px;
  margin: 0 auto;
  padding-top: 75px ;
}

.orangeText {
  color: #F17900;
}

.searchBar {
  position: relative;
  justify-content: center;
  margin: 80px 300px 0px 300px;
  max-width: 765px;
  width: 100%;
  border: none;
}

.searchBar input[type="text"] {
  padding-left: 15px;
  background: #3939390D;
  border: none;
  border-radius: 16px;
  display: flex;
  width: 100%;
  height: 65px;
  font: 16px 'Montserrat', sans-serif; 
}

.searchBar button {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer; 
  width: 32px;
  height: 32px;
  padding: 0;
}

.gallery-wrapper {
  display: flex;
  width: 909px;
  height: 1055px;
  margin: 100px auto 150px auto;
  justify-content: center;
  align-items: center;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 285px); 
  grid-auto-rows: 244px;
  gap: 26px;
 
}

.gallery-grid img {
  width: 285px;
  height: 245px;
  object-fit: cover;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.gallery-grid img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px #0f0b0b;
}

.loader-from-gallery {
  border: 6px solid ;
  border-top: 6px solid #F17900;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin: 100px auto;
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.validation-message {
  align-self: flex-start;
  text-align: left;
  font: 14px 'Roboto', sans-serif;
  color: #FF0000;
  margin-top: 10px;
  margin-left: 10px;
  max-width: 765px;
  display: none;
}

.logo-container {
  width:  270px;
  display: flex;
  flex-direction: column;
  gap: 23px;

}

.logo-container p {
  font: 400 14px/22px 'Roboto', sans-serif;
  color: #FFFFFF99;
  padding-right: 15px;
}

.social-icons {
  display: flex;
  gap: 12px;
  align-items: left;
}

.social-icons a {
  width: 28px;
  height: 28px;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: #000000;
   
}

.social-icons a svg {
  width: 12px;
  height: 12px;
  transition: fill 0.3s ease;
  fill: currentColor;
}

.social-icons a:hover {
  background-color: #E0A449;
  color: #FFFFFF;
}

.footer-main {
  background: var(--background-header-footer);
  width: 100%;
  padding: 85px 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1250px;
  width: 100%;
  height: 215px;
  gap: 85px;
  margin-bottom: 25px;
}

.footer-column {
  display: flex;
  flex-wrap: nowrap;
  gap: 85px;
  flex: 1; 
}

.footer-column a {
  text-decoration: none;
  color: #FFFFFF99;
}

.footer-column a:hover {
  color: #F17900;
}

.column {
  min-width: 130px;
  
}

.footer-column h3 {
  font: var(--h3-font);
  color: #E0A449;
  margin-bottom: 26px;
  letter-spacing: var(--ul-letter-spacing);
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column li {
  font: var(--list-item-font);
  color: #FFFFFF99;
  margin-bottom: 18px;
  cursor: pointer;
  transition: color 0.3s ease;
  
}

.copyright {
  width: 100%;
  max-width: 1250px;
  text-align: left;
}

.copyright p {
  font: 400 16px 'Roboto' ,sans-serif;
  color: #FFFFFF99;
  margin: 0;
}










